html{
    box-sizing: border-box;
}

.site-sitebar{
    width: 25%;
    left: 0;
    height: 100%;
    background-color: #1167b1;
    position: relative;
    z-index: 2;
}

.site-sitebar .site-sitebar-inner{
    padding:45px 0px;
}

.site-main{
    margin-left: 25%;
}