html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

.parent-home{
    background-color:gainsboro;
}

body{
    font: 16px/1.6 Roboto,Helvetica,sans-serif;
    font-weight: 300;
}

body{
    background: #f6f6f6;
}

*, ::after, ::before{
    box-sizing: inherit;
}

body{
    display: block;
    margin: 8px;
    font-weight: 300;
}
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

    
/*  ---------------------------------------- */


::selection{
    color: #fff;
    background: blue;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    display: block;
}

.dl-vertical, .site-sidebar{
    overflow: hidden;
}


aside{
    display: block;
}

.site-sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: #1167b1;
    }

.site-sidebar .site-sidebar-inner{
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 45px 0px;
}

div{
    display: block;
}

/* .site-sidebar .site-sidebar-inner::-webkit-scrollbar{
    display: none;
} */



@media screen and (max-width: 500px){
    .site-sidebar {
        top:auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
        padding-top: 40px;
        padding-bottom: 0;
        height :100vh;
    }

    .site-sidebar::before{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -50px;
        content: " ";
        display: block;
        width: auto;
        height: 850px;
    }
    body .parent-home .site-sidebar{
        padding-top: 0;
    }
    .parent-home .site-sidebar:before{
        display: none;
    }
}


.site-sidebar .person
{
    text-align: center;
}
.person{
    color: inherit;
}
.person .site-sidebar .posts-lists>li{
    display: block;
}
.cv-tech-tags a:hover, .main-navigation a, .person, .person:hover, .portfolio-timeline .project-link, .site-sidebar .posts-list a{
    text-decoration: none;
}
.button.button-red, .home-section, .person, .project-subtitle, .project-title, h1, h2{
    -webkit-font-smoothing :antialiased;
}
/* .red, a {
    color: #bb1e1e;
} */

.block-social{
    margin-top: 40%;
}

@media screen and (max-width: 1000px){
    .block-social{
        margin-top: 0;
    }
}

a{
    background: 0 0;
}

a:-webkit-any-link {
    color: webkink link;
    cursor: pointer;
    text-decoration: none;
}

.person .person-avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}

.person .person-avatar .avatar{
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) and (min-width: 500px){   
    .person .person-avatar .avatar{
        width: 100px;
        height: 100px;
    }
    .site-sidebar .site-sidebar-inner{
        padding: 10px;
    }
}

img, legend{
    border: 0;
}

.person .person-content .person-title{
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.person .person-subtitle{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin:0;
    text-decoration: none;
}

@media screen and (max-width: 1000px) and (min-width: 500px){
    .person .person-content .person-title{
        font-size: 16px;
    }
    .person .person-subtitle{
    font-size: 13px;
    }
}

h1{
    font-size: 36px;
}

h1, h2, h3, h4{
    font-weight: 400;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

h2{
    font-size: 30px;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* -------------------------------- */

.main-navigation{
    margin:45px -40px;
    line-height: 30px;
    position: relative;
    font-size: 14px;   
}

.main-navigation a{
    color:rgba(255,255,255,.6);
    display: block;
}

.main-navigation .navigation-extend-bar{
    font-size: 2px;
    border: 1px solid rgba(255,255,255,.2);
    border-width: 1px 0;
    padding: 0 20px;
    display: none;
}

.dl-vertical dd, .dl-vertical dt, .main-navigation .navigation-extend-bar .social-icons, .pull-left{
    float: left;
}

.main-navigation .navigation-extend-bar a{
    display: inline-block;
}

.block-title a, .social-icons, social-icons a{
    color:#fff;
    color:rgba(255,255,255,.6);
}

.button .button-icon{
    padding: 0;
    margin-right: .2em;
}

.navigation-extend-bar .navigation-extend-button{
    width: 50%;
}

.navigation-extend-bar a{
    color:rgba(255,255,255,.6);
    display: block;
    text-decoration: none;
}

.fa .fa-stack{
    display: inline-block;
}

i{
    font-style: italic;
}

.navigation-extendable{
    margin-top: 50px;
}

.posts-lists{
    margin-left: 8%;
    text-transform: uppercase;
    width:inherit;
    list-style-type: none;
    font-size: 18px;
    font-weight: 200;
    line-height: 35px;
}

.navigation-extend-bar a:hover{
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 1000px) and (min-width: 500px){
    .navigation-extendable{
        margin-top: 0px;
    }
    .posts-lists{
        margin-left: 0;
        font-size: 12px;
        line-height: 1.6;
    }

    .navigation-extend-bar a:hover{
        font-size:14px;
    }
}

/* ----------------------------------------------------- */

.main-navigation, .person .person-content .person-titles, .site-sidebar .block .block-title, h1, h2, h5{
    text-transform: uppercase;
}

/* ----------------------------------------------------- */

.block-title{
    color:rgba(255,255,255,.6);
    margin-left: 40px;
    font-size: 11px;
    padding-top: 60px;
    padding-bottom: 15px;
}

@media screen and (max-width: 1000px) and (min-width: 500px){
    .block-title{
        padding-top: 10px;
        padding-bottom: 2px;
        margin-left: 18px;
    }
}

.fa{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:rgba(255,255,255,.6);
    margin-right: 5px;
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.5;
}

.fa::before{
    font-size: 25px;
}

.fa-envelope::before{
    margin-left: 40px;
    content: "\f0e0";
}

@media screen and (max-width: 1000px) and (min-width: 500px){
    .fa{
        margin-right: 2px;;
    }
    
    .fa::before{
        font-size: 18px;
    }

    .fa-envelope::before{
        margin-left:20px;
    }
}

.fa-fb-square::before{
    content: '\f082';
}

.fa-twitter-square::before{
    content: '\fo81';
}

.fa-github-square::before{
    content: '\fo91';
}

.fa-linkedin-square::before{
    content: '\f08c';
}

.fa-instagram::before{
    content: '\f16d';
    color:#1167b1;
    background-color: rgba(255,255,255,.6);
    border-radius: 25%;
}

.home-section{
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

.empty-box{
    height: 150px;
    margin-left: 25%;
    background-color: gainsboro;
}
@media screen and (max-width: 1000px){
    .empty-box{
        height: 10px;
    }
}

@media screen and (max-width: 500px){
    .empty-box{
        height: 150px;
    }
}

.site-main {
    margin-left: 25%;
    background-color: gainsboro;
}

@media screen and (max-width: 500px){
    .site-main {
    margin-left: 0;
    }
}

.site-main .site-main-inner{
    margin-left: 10%;
    height: 85vh;
}

.home-section .home-heading{
    font-size: 45px;
    font-weight: 600;
}

.home-subheading{
    width: 70%;
    margin-top: 0;
    font-size: 27px;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 100px;
}

@media screen and (max-width: 500px){
      
    .home-subheading{
        width: 90%;
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px){
    .home-section .home-heading{
        font-size: 30px;
    }   
    .home-subheading{
        width: 80%;
        font-size: 15px;
        margin-bottom: 40px;
    }
}

.home-section .home-buttons .button{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.5em;
    opacity: .8; 
    margin-bottom: 1em;
    color: black;
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .home-section .home-buttons .button{
        font-size: 1em;
    }
}

.button .button-white{
    color: black;
}

.button-outline{
    border-width: 1px;
    border-style: solid;
}

.button{
    padding: .4em .8em;
    line-height: 1;
    margin-right: 1em;
}

.home-section .home-buttons .button:hover{
    box-shadow: 1px 1px 2px rgba(0,255,255,.47);
    border-width: 2px;
    padding: .4em 1em;
}

.line{
    height:5vh;
}

.lines{
    height: 35vh;
}


.portfolio{
    margin-left:30%;
    margin-top: 5%;
}

@media screen and (max-width: 500px){
    .portfolio{
        margin-left: 5%;
    }
}

.port-content{
    margin-left:5%;
    margin-bottom:10%;
}

.content-box{
    margin-left:5%;
    margin-bottom: 5%;
}

.port-heading{
    margin-block-end: 0;
}

.port-h2{
    font-size: 30px;
    color:rgb(88, 95, 95);
    margin-block-end: 0;
}

.port-h3{
    font-size: 25px;
    color :rgb(88, 87, 86);
    margin-bottom:0;
    font-weight:600;
}

.port-h4{
    font-style: inherit;
    font-size: 15px;
    color :rgb(88, 87, 86);
    margin-block-start: 0.5em;
}
@media screen and (max-width: 500px){
    .port-h4{
        font-size: 12px;   
    }
}

.port-h5{
    width: 50%;
    line-height: 1.1;
    margin-block-end: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 2%;
    font-size: 20px;
    font-weight: 500;
    font-style:inherit;
    text-transform: none;
    color : rgb(34, 31, 31);
}

@media screen and (max-width: 1000px){
    .port-h5{
        width: 70%;   
    }
}

@media screen and (max-width: 500px){
    .port-h5{
        width: 90%;   
    }
}

@media screen and (min-width: 500px){
    .hire-me{
        width: 70%;
    }
}

.port-h4 >a{
    color:blue;
    margin-left: 100px;
}

.con-h2{
    color:rgb(88, 87, 86);  ;
    margin-left: 3%;
    text-transform: none;
    font-size: 22px;
    font-weight: 500;
} 

h3>a{
    color:rgb(97, 41, 250);
}